{% extends "base.html" %}
{% load static i18n %}
{% block title %}Organizations{% endblock %}

{% block content %}
<div class="container">
  <h2>Organizations</h2>

  <!-- Action buttons -->
      <div class="row">

        <div class="col-sm-8">
          <form action="{% url 'orgs:org_list' %}" method="GET">
            <input type="text" name="q" />
            <button type="submit" class="btn btn-primary">Search</button>
          </form>
        </div>
        <div class="col-sm-4">
          <a class="btn btn-primary" href="{% url 'orgs:org_create' %}" role="button">Create Organization</a>
        </div>
        <div class="col-sm-12">
          <a class="btn btn-link" href="{% url 'orgs:org_list' %}" role="button">All</a>
          <a class="btn btn-link" href="{% url 'orgs:org_create' %}" role="button">Latest</a>
        </div>
      </div>

      <!-- End Action buttons -->

  {% if org_list.count != 0 %}
    <div class="list-group">
    {% for organization in org_list %}
      <a href="{% url 'orgs:org_detail' organization.slug %}" class="list-group-item">
        <h4 class="list-group-item-heading">{{ organization.name }}</h4>
      </a>
    {% endfor %}
    </div>
  {% else %}
    <h4>Oops, there aren't any organizations yet. <a href="{% url 'orgs:org_create' %}">Create one!</a></h4>
  {% endif %}
</div>
{% endblock content %}
